
  

.sppictureDiv{
    background-image: url('./Penguins-interior.jpg');
    height: 100vh;
    width: 100vw;
    background-position: center;
    margin-top: -90px;
    
}
.sptitleDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 160px;
    
    
}

.spheaderone{
    color: #c0c5d0;
    background-color: rgba(45,63,99,0.5);
    font-size: 70px;
    font-weight: bold;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    
}

.spheadertwo{
    margin-top: 30px;
    color: #c0c5d0;
    background-color: rgba(45,63,99,0.5);
    font-size: 60px;
    font-weight: bold;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    
}

.sphumanDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
}

.sppictureHumanDiv{
    background-image: url('./imagefist.png');
    height: 100vh;
    width: 100vw;
}

.spheaderThree{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    color: black;
    background-color: rgba(216, 219, 224, 0.7);
    font-size: 50px;
    width: 700px;
    border-radius: 14px; 
}

.spheaderFour{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    color: rgb(12, 11, 11);
    background-color: rgba(184, 204, 238, 0.9);
    font-size: 80px;
    width: 800px;
    border-radius: 14px;
}

.enlistsplashpage{
    width: 700px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 140px;
    margin-left: 29.0vw;
}
.buttonsplash{
    height: 56px;
    width: 140px;
    background-color: rgba(130, 169, 238);
    border-radius: 12px;
}

.personalInfo{
    
    background-color: rgba(184, 209, 238, 0.9);
    width: 280px;
    height: 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.personalinforowdiv{
    display: flex;
    flex-direction: row;
}
.Developerinfo{
    margin-left: 8px;
    margin-right: 8px;
    color: blue;
}

/* Media Query for screens with a maximum width of 600px (typical for smartphones) */
@media (max-width: 600px) {
    .sppictureDiv {
      margin-top: 0; /* Adjust top margin for mobile */
    }
  
    .sptitleDiv {
      padding-top: 60px; /* Adjust padding */
    }
  
    .spheaderone {
      font-size: 28px;
    }
  
    .spheadertwo {
      font-size: 22px;
      margin-top: 10px;
    }
  
    .sppictureHumanDiv {
      margin-top: 20px; /* Add some spacing */
    }
  
    .sphumanDiv {
      padding-top: 30px;
    }
  
    .spheaderThree {
      font-size: 20px;
    }
  
    .spheaderFour {
      font-size: 30px;
    }
  
    .enlistsplashpage {
      margin-top: 30px;
    }
  
    /* You might need to adjust or hide the LoginFormModal, SignupFormModal, and DemoUser components for smaller screens depending on your design */
    .enlistsplashpage > div {
      width: 100%; /* Make modal containers full width */
      margin-bottom: 10px; /* Add spacing between elements */
    }
  
    .buttonsplash {
      width: 100%;
    }
  
    .personalInfo {
      font-size: 12px; /* Adjust font size inside personal info */
    }
  }